*{
    margin:0;
    padding:0;
    border:0;
    text-decoration: none;
    list-style: none;
    word-break:break-all;
    font-size:16px;
    color:#666;
    font-family: "arial";
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    font-style:normal;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    outline:0;
}
input {
    border:0;
}
.show{
    display:block!important;
}
body{
    background-color:#ececec;
    width:7.5rem;
    margin:0 auto;
}
.headbar{
    width:7.5rem;
    box-sizing:border-box;
    padding:0 0.18rem;
    display:-webkit-box;
    display:-moz-box;
    -webkit-box-align:center;
    height:45px;
    background:#fff;
    border-bottom:1px solid #2db7f5;
    position:fixed;
    top:0;
    left:50%;
    margin-left:-3.75rem;
    z-index:10;
}
.headnav{
    width: 30px;
    height:30px;
    background-color: #2db7f5;
}
.navlist{
    position:absolute;
    left:0.18rem;
    top:48px;
    width:120px;
    border:1px solid #f4f4f4;
    background:#fff;
    border-radius:3px;
    display:none;
    box-shadow:0 0 15px #999;
}
.navlist:before{
    content:"";
    position:absolute;
    width:0;
    height:0;
    border:4px solid transparent;
    border-bottom:4px solid #fff;
    z-index:10;
    top:-8px;
    left:0.2rem;
}
.container{
    margin:46px auto 0 auto;
    width:7.5rem;
    overflow:hidden;
}
.gosign{
    display:block;
    position:absolute;
    right:0.18rem;
    height:45px;
    line-height:45px;
    top:0px;
    font-size:14px;
    color:#999;
}
.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
    opacity: 1;
}
.eachnav{
    display:block;
    width:100%;
    height:35px;
    border-bottom:1px solid #f4f4f4;
    text-align:center;
    line-height:35px;
    color:#888;
}
.eachnav:last-child{
    border-bottom:0;
}
.useform{
    width: 7.14rem;
    margin:20px 0.18rem;
    box-sizing:border-box;
    background:#fff;
    padding:20px;
}
.useform p{
    width:100%;

    border:1px solid #ececec;
    height:40px;
    line-height:40px;
    border-radius:3px;
    box-sizing:border-box;
    padding:0 8px;
    color:#888;
    background:#fff;
    overflow:hidden;
    display:-webkit-box;
    display:-moz-box;
    margin-top:20px;
}
.headstyle{
    position:relative;
    display:block;
    height:30px;
    width:130px;
    margin-top:5px;
    line-height:20px;
    font-size:14px;
    margin-left:15px;
}
.headstyle input{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0;
    z-index:10;
}
.headstyle span{
    display:block;
    box-sizing:border-box;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#00b3ee;
    font-size:14px;
    color:#fff;
    text-align:center;
    line-height:30px;
    border-radius:2px;
    z-index:9;
    background-image:url(/images/fb.png);
    background-position: 5px center;
    background-size:20px;
    background-repeat:no-repeat;
    padding-left:30px;
}
.filePreviewZone{
    display:-webkit-flex;
    display:flex;
    flex-wrap: wrap;;
    -webkit-flex-wrap: wrap;
    margin-top:15px;
    min-height:3rem;
    width:100%;
    position:relative;
    padding-top:25px;
    overflow:hidden;
    border:3px dashed #cfcfcf;
}
.filedragenter {
    box-shadow: 0 0 10px 3px #999 inset;
}
.uploadfiles {
    display:block;
    padding:30px 6px;
    box-sizing:border-box;
    margin: 5px;
    max-width:100%;
    min-width: 2.8rem;
    position:relative;
    border:1px solid #f4f4f4;
    border-radius:4px;
}
.cancelAll{
    position:absolute;
    right:5px;
    top:5px;
    width:20px;
    height:20px;
    background-image:url(/images/delete.png);
    background-position:center;
    background-size:15px;
    background-repeat:no-repeat;
}
.cancelfile{
    display:block;
    position:absolute;
    bottom:5px;
    right: 5px;
    width:20px;
    height:20px;
    font-size:12px;
    color:#fff;
    background: transparent;
    line-height: 20px;
    text-align:center;
    background-image:url(/images/delete.png);
    background-position:center;
    background-size:15px;
    background-repeat:no-repeat;
}
.fileTip{
    font-size:12px;
    color:#888;
    display:block;
    position:absolute;
    bottom:5px;
    left:5px;

}
.fileloaded{
    display:block;
    position:absolute;
    bottom:5px;
    right: 30px;
    width:20px;
    height:20px;
    font-size:12px;
    color:#fff;
    background: #a94442;
    line-height: 20px;
    text-align:center;
}
.bigview{
    display:block;
    width:20px;
    height:20px;
    right:5px;
    top:5px;
    position:absolute;
    background-image:url(/images/bigview.png);
    background-position:center;
    background-size:20px;
    background-repeat:no-repeat;
}
.showView{
    position: fixed;
    z-index:100;
    overflow:hidden;
}
@keyframes viewChange{
    100%{
        height:90%;
        width:90%;
        left:5%;
        top:5%;
    }
}
@-webkit-keyframes viewChange{
    100%{
        height:90%;
        width:90%;
        left:5%;
        top:5%;
    }
}
@-moz-keyframes viewChange{
    100%{
        height:90%;
        width:90%;
        left:5%;
        top:5%;
    }
}
@-ms-keyframes viewChange{
    100%{
        height:90%;
        width:90%;
        left:5%;
        top:5%;
    }
}
.viewinit {
    box-sizing:border-box;
    border-radius:5px;
    background:#fff;
    box-shadow:0 0 10px 1px #999;
}
.openedview {
    animation:viewChange;
    -webkit-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    -o-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes closedView {
    100%{
        left:-100%;
        box-shadow:none;
    }
}
@-webkit-keyframes closedView {
    100%{
        left:-100%;
        box-shadow:none;
    }
}
@-moz-keyframes closedView {
    100%{
        left:-100%;
        box-shadow:none;
    }
}
@-ms-keyframes closedView {
    100%{
        left:-100%;
        box-shadow:none;
    }
}
.thisviewclose {
    animation:closedView;
    -webkit-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    -o-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.viewimgbox{
    width:100%;
    height:100%;
    display:-webkit-box;
    display:flex;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    justify-content:center;
    align-items: center;

}
.viewimgbox img{
    display:block;
    max-width:100%;
    max-height:100%;
    margin:0 auto;
}
.closeView{
    display:block;
    width:45px;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#999;
    text-shadow:0 3px 4px #999;
    position:absolute;
    right:0;
    top:0;

}
.filePreviewZone img{
    display:block;
    width:100%;
    height:100%;
}
.errortips{
    width:100%;
}
.errortips .litTip{
    display:block;
    width:90%;
    font-size:12px;
    color:#ff2a00;
    box-sizing:border-box;
    padding:5px 20px 5px 5px;
    border-radius:2px;
    line-height:25px;
    background:#eececc;
    position:relative;
    margin:10px auto 10px auto;
}
.errortips .deltip{
    display:block;
    width:30px;
    height:100%;
    right:0;
    top:0;
    position:absolute;
    background-image:url(/images/delete.png);
    background-position:center;
    background-size:15px;
    background-repeat:no-repeat;
}
.fileError{
    opacity:0.8;
}
.fileError:before{
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:#ff2a00;
    opacity:0.2;
}
.progressView {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:100;
    background:#000;
    opacity:0.6;
    text-align:center;
    line-height:30px;
    color:#fff;
    font-size:14px;
}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="tel"]:focus,input[type="email"]:focus {
    border:1px solid #5acde2;
    box-shadow:0 0 15px 0 #5acde2;
    transition: all 0.3s;
}
input[type="submit"]:active {
    box-shadow:0 0 10px 0 #999 inset;
}
input[type="button"]:active {
    box-shadow:0 0 20px 0 #999 inset;
}
.inputerror{
    border:1px solid #ff3838;
    box-shadow:0 0 10px 0 #ff3838;
    transition: all 0.3s;
}
.useform p input {
    display:block;
    height:20px;
    padding:10px;
    line-height:20px;
    font-size:14px;
}
.navbox {
    width:7.5rem;
    height:45px;
    background:#fff;
}
.sub,.subArticle{
    width:100%;
    height:40px;
    border-radius:5px;
    line-height:40px;
    color:#fff;
    background-color:#d58512;
    text-align:center;
    display:block;
    margin:15px auto;
}
.navbox ul{
    display:-webkit-box;
    display:-moz-box;
    display:flex;
    height:45px;
    -webkit-box-align:center;
}
.navbox ul li{
    flex-grow:1;
    -webkit-box-flex:1;
    text-align:center;
}
.teamboss{
    width: 7.5rem;
    background-color: #ececec;
}
.teamli {
    width: 7.14rem;
    padding:0 0.18rem;
    height: 60px;
    display: -webkit-box;
    display:-moz-box;
    -webkit-box-align: center;
    margin-bottom: 15px;
    background-color: #fff;
}
.memberhead{
    width: 45px;
    height: 45px;
    border-radius: 60px;
    overflow:hidden;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    -webkit-mask-image:url(../images/mask.png);
    -webkit-mask-position:center;
    -webkit-mask-size:45px 45px;
}
.membername{
    -Webkit-box-flex: 1;
    font-size:16px;
    margin-left: 8px;
    margin-right:8px;
}
.membername span{
    white-space:nowrap;
    display: block;
    height:23px;
    line-height:23px;
    overflow:hidden;
    width:100%;
    text-overflow: ellipsis;
    font-size:16px;
    color:#444
}
.membername .time{
    font-size:14px;
    color:#888
}
.memberphone{
    display:block;
    width: 80px;
    height: 30px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #929292;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
}
.addnewteam{
    display:block;
    width:200px;
    height:40px;
    text-align:center;
    line-height:40px;
    background:#00b3ee;
    margin:10px auto;
    border-radius:4px;
    color:#fff;
}

.order ul {
    width: 7.5rem;
}
.order li {
    width: 7.5rem;
    margin-bottom: 15px;
    position: relative;
}
.order_head {
    height: 40px;
    display: -webkit-box;
    display:-moz-box;
    width: 7.14rem;
    padding: 0 0.18rem;
    -webkit-box-align: center;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}
.order_head .dearname {
    text-align: left;
    display: -webkit-box;
    display:-moz-box;
    -webkit-box-align: center;
    color:#888;
    font-size:14px;
}
.order_head span {
    display: block;
    -webkit-box-flex: 1;
}
.order_head .PaystatusText {
    text-align: right;
    color: #888;
    font-size:14px;
}
.order_xq {
    display: -webkit-box;
    display:-moz-box;
    position: relative;
    width: 7.14rem;
    padding: 0.15rem 0.18rem;
    background-color: #f5f5f5;
    line-height: 25px;
}
.order_pic {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.order_xj {
    -webkit-box-flex: 1;
    margin: 0 20px;
}
.order_cpm {
    font-size: 18px;
    color: #444444;
    margin-bottom: 8px;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.order_jg {
    text-align: right;
    font-size: 16px;
    color: #ff3838;
    line-height: 40px;
    width: 60px;
    margin-top: -8px;
}
.order_jg i {
    display: block;
    font-size: 16px;
    color: #888888;
}
.order_total {
    height: 40px;
    background-color: #FFFFFF;
    text-align: right;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: start;
    font-size: 16px;
    color:#999;
    width: 7.14rem;
    padding: 0 0.18rem;
}
.order_total i {
    font-size: 16px;
    color: #ff3838;
    display: block;
}
.usersignin{
    width:7.14rem;
    margin:20px 0.18rem;
    background:#fff;
    border-radius:4px;
    box-sizing:border-box;
    padding:20px;
}
.usersignin p{
    width:100%;
    border:1px solid #ececec;
    height:40px;
    line-height:40px;
    border-radius:3px;
    box-sizing:border-box;
    padding:0 8px;
    color:#888;
    background:#fff;
    overflow:hidden;
    display:-webkit-box;
    display:-moz-box;
    display:flex;
    margin-top:20px;
}
.usersignin p input {
    display:block;
    height:20px;
    padding:10px;
    line-height:20px;
    font-size:14px;
    flex-grow:1;
    -webkit-box-flex:1;
}
.usersignin p span{
    display:block;
}
.mysignedup,.willsignedin{
    display:block;
    width:100%;
    height:40px;
    margin:20px auto;
    line-height:40px;
    font-size:14px;
    background:#00b3ee;
    text-align:center;
    color:#fff;
    border-radius:4px;
}
.isforgetorup{
    width:100%;
    display:-webkit-box;
    display:-moz-box;
    display:flex;
}
.isforgetorup a{
    color:#999;
    font-size:14px;
    display:block;
    flex-grow:1;
    -webkit-box-flex:1;
    text-align:center;
    line-height:25px;
}
.isforgetorup .willsignedup {
    line-height:25px;
    border-radius:4px;
    color:#999;
}
.usercon{
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:101;
    background:#f2f2f2;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}
.userinfo{
    margin-top:20px;
    text-align:center;
}

.myheadportrait{
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    position:absolute;
    border-radius:50%;
    overflow:hidden;
}
.mystyle{
    width:3.5rem;
    height:3.5rem;
    position:relative;
    border-radius:50%;
    overflow:hidden;
}
.myarticlesstyle{
    width: 40px;
    height:20px;
    box-shadow:0 1px 0 0 #555;
    position:relative;
    font-size:14px;
    text-align:center;
    line-height:20px;
    color:#999;
    z-index:10;
    margin:15px auto;
}
.userinfo .useremail{
    font-size:12px;
    color:#999;
    text-align:center;
    line-height:30px;
}
.myarticles{
    display:block;
    font-size:14px;
    text-align:center;
    line-height:20px;
    margin:0 auto;
    color:#999;
    border-radius:50%;
}
.editstyle{
    width:100%;
    height:30px;
    font-size:14px;
    color:#fff;
    position:absolute;
    right:0;
    bottom:0;
    text-align:center;
    line-height:30px;
    overflow:hidden;
}
.myedit{
    display:block;
    width:100%;
    height:100%;
    color:#fff;
    background:#000;
    opacity:0.6;
    text-align:center;
}
.indexbox{
    width:100%;
    background:#ececec;
}
.indexbox li{
    width:7.5rem;
    box-sizing:border-box;
    padding:10px;
    margin: 10px auto;
    background:#fff;
}
.indexbox .articlehead {
    display:-webkit-box;
    display:-moz-box;
    display:flex;
    -webkit-box-align:center;
    position:relative;
    line-height:25px;
    border-bottom:1px solid #00b3ee;
    padding-bottom:10px;
}
.indexbox .articlehead span{
    display:block;
    font-size:12px;
    line-height:25px;
    color:#999;
    font-weight:normal;
}
.indexbox .articlehead .articleuser {
    flex-grow:1;
    -webkit-box-flex:1;
    font-size:16px;
    color:#333;
    font-weight:bold;
}
.indexbox .articlehead .articleuser div{
    display:block;
    float:left;
    width:30px;
    height:30px;
    margin-right:8px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:3px;
}
.indexarticles{
    margin-top:15px;
}
.articletitle{
    font-size:20px;
    color:#333;
    font-weight:bold;
    line-height:25px;
    margin-bottom:10px;
    position:relative;
}
.articletitle:after {
    content:"title";
    font-size:12px;
    color:#f1f1f1;
    position:absolute;
    right:0;
    bottom:0;
}
.articlecontent{
    font-size:14px;
    color:#666;
    line-height:20px;
}
.articleimg{
    width:100%;
    display:-webkit-flex;
    display:flex;
    flex-wrap:wrap;
    margin-top:15px;
    justify-content:flex-start;
}
.articleimg>div{
    display:block;
    width:1.8rem;
    height:1.8rem;
    margin: 9px;
    overflow:hidden;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
}
.myarticlehead {
    width:40px;
    height:40px;
    position:fixed;
    z-index:100;
    opacity:0.6;
    right:0.18rem;
    bottom:20px;
    background:#00b3ee;
    border-radius:50%;
    overflow:hidden;
    display:-webkit-box;
    display:-moz-box;
    display:flex;
    align-items: center;
    -webkit-box-align:center;
}
.articlelen{
    display:block;
    position:absolute;
    flex-grow:1;
    left:0;
    bottom:0;
    width:100%;
    height:20px;
    line-height:20px;
    -webkit-box-flex:1;
    font-size:12px;
    color:#999;
    text-shadow:1px 0 0 0 #fff;
    text-align:center;
}
.addnewarticle {
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    border-radius:2px;
    line-height:40px;
    color:#fff;
    text-align:center;
    font-size:12px;
}
.articleform{
    width:7.14rem;
    margin:15px auto;
    background:#fff;
    border-radius:4px;
    box-sizing:border-box;
    padding:20px;
}
.inputinit{
    display:block;
    width:100%;
    height:34px;
    line-height:19px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius:4px;
    border:1px solid #ececec;
    padding:15px;
    font-size:14px;
    margin-bottom:15px;
}
.myinputtitle{
    display:block;
    width:100%;
    height:34px;
    line-height:19px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius:4px;
    border:1px solid #ececec;
    padding:15px;
    font-size:14px;
}
.myinputcontent{
    display:block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px solid #ececec;
    width:100%;
    border-radius:5px;
    margin-top:20px;
    padding:15px;
    resize:none;
    font-size:14px;
    line-height:20px;
    min-height:250px;
}
.addarticlehead{
    font-size:16px;
    font-weight:bold;
    color:#999;
    margin-bottom:15px;
}
.addimage{
    margin-top:15px;
    font-size:14px;
    color:#444;
}
.addimage .headstyle{
    margin-left:0;
}
.successpage{
    width:7.14rem;
    position:fixed;
    left:50%;
    top:10%;
    bottom:10%;
    z-index:10;
    margin:20px auto auto -3.57rem;
    border-radius:5px;
    background:#fff;
    box-sizing:border-box;
    padding:20px;
    font-size:16px;
    line-height:30px;
    text-align:center;
    background-image: url(/images/success.jpg);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    text-shadow: 1px 3px 5px rgba(0,124,123, 0.8);
}