<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
    <script>
        var deviceWidth = document.documentElement.clientWidth < screen.innerWidth ? screen.innerWidth : document.documentElement.clientWidth;
        if(deviceWidth > 750) deviceWidth = 750;
        document.documentElement.style.fontSize = deviceWidth/7.5 + "px";

    </script>
    <link href="css/loading.css" type="text/css" rel="stylesheet">
    <link href="css/preload.css" type="text/css" rel="stylesheet">
    <link href="css/common.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="teamlist">

</div>
<script src="js/tool.js"></script>
<script src="js/asynloading.js"></script>
<script>
    //加载基进度条
    isLoadingOrIsLoaded("", true, false);
</script>
<script src="../js/react.js"></script>
<script src="../js/react-dom.js"></script>
<script src="../js/browser.js"></script>

<script type="text/babel">

    var TeamList = React.createClass({

        getInitialState: function() {
            return {
                teamlist: []
            }
        },

        componentDidMount: function() {

            var self = this;
            var xhr = new XMLHttpRequest();
            xhr.open("get", "/api/team", true);

            xhr.onreadystatechange = function() {
                if(xhr.readyState === 4 && /^2\d{2}/.test(xhr.status)) {
                    self.setState({
                        teamlist: JSON.parse(xhr.response)
                    });
                    isLoadingOrIsLoaded("", false, true);
                    scrollLoadingImg(document.body.scrollTop, document.documentElement.clientHeight);
                    window.addEventListener("scroll", function() {
                        scrollLoadingImg(document.body.scrollTop, document.documentElement.clientHeight)
                    })
                }
            };
            xhr.send();

        },

        render: function() {

            return (
                    <ul className="teamboss">
                        {
                            this.state.teamlist.map(function(ele) {
                                return (
                                        <li key={ele.id} className="teamli">
                                            <div className="memberhead" dangerouslySetInnerHTML={{__html: preloadbg(ele.headimg, ele.id, "./images/img05.jpg")}}>

                                            </div>
                                            <div className="membername"><span>{ele.name}</span><span className="time">{ele.time}</span></div>
                                            <div data-phone={ele.phone} href={"tel:" + ele.phone} className="memberphone">电话联系</div>
                                        </li>
                                )
                            })
                        }
                    </ul>

            )

        }
    });

    ReactDOM.render(<TeamList />, document.querySelector("#teamlist"));

</script>
</body>
</html>