*{
    margin:0;
    padding:0;
    border:0;
    text-decoration: none;
    list-style: none;
    word-break:break-all;
    font-size:16px;
    color:#666;
    font-family: "arial";
    -webkit-transition: opacity 0.3s;
    font-style:normal;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    outline:0;
}
input {
    border:0;
}
body{
    background-color:#ececec;
    width:7.5rem;
    margin:0 auto;
}
.headbar{
    width:7.14rem;
    padding:0 0.18rem;
    display:-webkit-box;
    -webkit-box-align:center;
    height:45px;
    background:#fff;
    border-bottom:1px solid #2db7f5;
    position:relative;
    z-index:10;
}
.headnav{
    width: 30px;
    height:30px;
    background-color: #2db7f5;
}
.navlist{
    position:absolute;
    left:0.18rem;
    top:48px;
    width:120px;
    border:1px solid #f4f4f4;
    background:#fff;
    border-radius:3px;
    display:none;
    box-shadow:0 0 15px #999;
}
.navlist:before{
    content:"";
    position:absolute;
    width:0;
    height:0;
    border:4px solid transparent;
    border-bottom:4px solid #fff;
    z-index:10;
    top:-8px;
    left:0.2rem;
}
.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
    opacity: 1;
}
.eachnav{
    display:block;
    width:100%;
    height:35px;
    border-bottom:1px solid #f4f4f4;
    text-align:center;
    line-height:35px;
    color:#888;
}
.eachnav:last-child{
    border-bottom:0;
}
.useform{
    width: 7.14rem;
    margin:20px 0.18rem;
    box-sizing:border-box;
    background:#fff;
    padding:20px;
}
.useform p{
    width:100%;

    border:1px solid #ececec;
    height:40px;
    line-height:40px;
    border-radius:3px;
    box-sizing:border-box;
    padding:0 8px;
    color:#888;
    background:#fff;
    overflow:hidden;
    display:-webkit-box;
    margin-top:20px;
}
.headstyle{
    position:relative;
    display:block;
    height:30px;
    width:100px;
    margin-top:5px;
    line-height:20px;
    font-size:14px;
}
.headstyle input{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0;
    z-index:10;
}
.headstyle span{
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#00b3ee;
    font-size:14px;
    color:#fff;
    text-align:center;
    line-height:30px;
    margin-left:15px;
    border-radius:2px;
    z-index:9;
}
#pic_file{
    margin-top:15px;
}
#pic_file img{
    display:block;
    width:100%;
    height:100%;
}
.useform p input {
    display:block;
    height:20px;
    padding:10px;
    line-height:20px;
    font-size:14px;
}
.navbox {
    width:7.5rem;
    height:45px;
    background:#fff;
}
.sub{
    width:100px;
    height:40px;
    border-radius:5px;
    line-height:40px;
    color:#fff;
    background-color:#d58512;
    text-align:center;
    display:block;
    margin:15px auto;
}
.navbox ul{
    display:-webkit-box;
    height:45px;
    -webkit-box-align:center;
}
.navbox ul li{
    -webkit-box-flex:1;
    text-align:center;
}
.teamboss{
    width: 7.5rem;
    background-color: #ececec;
}
.teamli {
    width: 7.14rem;
    padding:0 0.18rem;
    height: 60px;
    display: -webkit-box;
    -webkit-box-align: center;
    margin-bottom: 15px;
    background-color: #fff;
}
.memberhead{
    width: 45px;
    height: 45px;
    border-radius: 60px;
    overflow:hidden;
    background-size:cover;
    background-position:center;
    position:relative;
    -webkit-mask-image:url(../images/mask.png);
    -webkit-mask-position:center;
    -webkit-mask-size:45px 45px;
}
.membername{
    -Webkit-box-flex: 1;
    font-size:16px;
    margin-left: 8px;
    margin-right:8px;
}
.membername span{
    white-space:nowrap;
    display: block;
    height:23px;
    line-height:23px;
    overflow:hidden;
    width:100%;
    text-overflow: ellipsis;
    font-size:16px;
    color:#444
}
.membername .time{
    font-size:14px;
    color:#888
}
.memberphone{
    width: 80px;
    height: 30px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #929292;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
}

.order ul {
    width: 7.5rem;
}
.order li {
    width: 7.5rem;
    margin-bottom: 15px;
    position: relative;
}
.order_head {
    height: 40px;
    display: -webkit-box;
    width: 7.14rem;
    padding: 0 0.18rem;
    -webkit-box-align: center;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}
.order_head .dearname {
    text-align: left;
    display: -webkit-box;
    -webkit-box-align: center;
    color:#888;
    font-size:14px;
}
.order_head span {
    display: block;
    -webkit-box-flex: 1;
}
.order_head .PaystatusText {
    text-align: right;
    color: #888;
    font-size:14px;
}
.order_xq {
    display: -webkit-box;
    position: relative;
    width: 7.14rem;
    padding: 0.15rem 0.18rem;
    background-color: #f5f5f5;
    line-height: 25px;
}
.order_pic {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.order_xj {
    -webkit-box-flex: 1;
    margin: 0 20px;
}
.order_cpm {
    font-size: 18px;
    color: #444444;
    margin-bottom: 8px;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.order_jg {
    text-align: right;
    font-size: 16px;
    color: #ff3838;
    line-height: 40px;
    width: 60px;
    margin-top: -8px;
}
.order_jg i {
    display: block;
    font-size: 16px;
    color: #888888;
}
.order_total {
    height: 40px;
    background-color: #FFFFFF;
    text-align: right;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: start;
    font-size: 16px;
    color:#999;
    width: 7.14rem;
    padding: 0 0.18rem;
}
.order_total i {
    font-size: 16px;
    color: #ff3838;
    display: block;
}