<script src="/javascripts/tool.js"></script>
<script src="/javascripts/asynloading.js"></script>
<script src="/javascripts/file.js"></script>
<script src="/javascripts/common.js"></script>
</div>
</body>
</html>