<div class="allpreContainer">
    <div class="inoutbg" style="background-image:url(images/img01.jpg);background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;"></div>
    <img class="preloadbg preloadbg' + i + '" src-data="' + img + '" src="" loaded="false">
    <div class="DSbg DSbg' + i + '" style="background-image: url(images/img01.jpg); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat no-repeat;"></div>
</div>';